body{
  background-color:#6B74A3;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  color: #fafafa;
  /* text-align: center; */
  background-image: url('https://images.unsplash.com/photo-1561412075-3250fb782bfb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9');
  background-repeat: no-repeat;
  background-position: top;
}
/*
font-family: 'East Sea Dokdo', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Pangolin', cursive;
font-family: 'UnifrakturMaguntia', cursive;
*/
.container{
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5% ;
  grid-template-rows: 15% 10% auto 15%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  min-height:800px;
  justify-content: center;

  /* justify-items: center; */
}
.header{
  grid-area: 1 / 2 / 2 / 4;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
h1, h2, h3{
  padding: 15px;
}
h1{
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}
.footer{
  grid-area: 4 / 2 / 5 / 4;
  padding: 10px;
  place-self: center;
  text-align: center;
}
.boards{
  justify-content:space-around;
  grid-area: 3 / 2 / 4 / 4;
  opacity: 0.8;
  border-radius: 5px;
  font-size: 5px;
  user-select: none;
}
.flexSpaced1{
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;


}
.flexSpaced2{
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.User{
  grid-area: 3 / 2 / 4 / 3;
  background-color: #6B90A3;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);

}

.AI{
  grid-area: 3 / 3 / 4 / 4;
  background-color: #71AAC6;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);

}
.flexSpaced{
  grid-area: 2 / 2 / 3 / 4;
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content:space-between; */
}
.panel{
    grid-area: 1 / 3 / 5 / 4;
}
.left-Aside { grid-area: 1 / 1 / 5 / 2; }

.sidebar{

  position: absolute;
  transform: translateX(100%);
  right: 0;
  height: 100%;
  width: 300px;
  /* position: fixed; */
  z-index: 2;
  top: 0;
  background-color: #8DA0AA;
  overflow-x: hidden;
  overflow: hidden;
  transition: all 0.5s;
  font-size: 20px;
}

.sidebar.active {
  transform: translateX(0);
}
.sidebar .closeAside{
  top: 0;
  font-size: 36px;

}
.block{
  cursor: pointer;
  z-index: 1;
}
/* color palette
  #6B74A3
  #6B90A3
  #707FC8
  #71AAC6
  #82A7BA
  #8DA0AA
  #8DAAA5
  .div4 { grid-area: 2 / 1 / 3 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
 */
.destoryerCss, .submarineCss, .cruiserCss, .battleshipCss, .carrierCss{
  background-color: #6B74A3;
  /* justify-self:center; */
  /* align-self: center; */
  /* border-radius: 1000px */

}

li{
  list-style-type: lower-roman;
  list-style-position: inside;
  padding: 10px;
  line-height: 35px;
}

 .inPlay{
   background-color: navy;
 }
 .hit{
   background-color: yellow;
 }
 .miss{
   background-color: #fafafa;
   opacity: 0.03;
 }
 header > span{
   font-size:30px;
   cursor:pointer;
   justify-self: end;
   align-self: end;
 }
 p{
   padding: 20px;
   /* place-self: center; */
 }
#openNav{
  text-align: right;
  justify-self: end;
}
address{
  padding:10px;
}
.modal {
    width: 500px;
    height: 500px;
    line-height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
    image-resolution: snap;
}
.messager{
  font-size: 45px;
  animation: blinker 2s  ease-in-out infinite;
  animation-play-state: paused;

}
@keyframes blinker {
  100% { opacity: 0; color: red;}

}
